.movie-card{
    border: 1px solid rgb(127, 127, 127);
    margin: 1em;
    flex: 1 1 20%;
    max-width: 25%;
    border-radius: 10px;
    position: relative;
    height: 420px;
}

.movie-card img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.movie-list{
    width: 70%;
    display: flex;
    flex-wrap: wrap; 
}

.movie-desc{
    text-align: start;
    padding: 10px;
    position: relative;
    top: -1rem;
}

.movie-title{
    font-weight: 600;
    height: 3rem;
}

.movie-price{
    color: red;
    font-weight: 400;
}

.movie-button{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}